@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 70%;
  margin: 0 auto;
}
ul{
  list-style-type: none;
}
img{
  max-width: 100%;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header__btns{
  display: flex;
}
.header__logo{
  width: 100px;
  height: 30px;
}
.header__btn{
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}
.header__btn .bx{
  font-size: 24px;
}
.header__form{
  background: rgba(var(--bb2,239,239,239),1);
  font-size: 16px;
  padding: 0 16px;
  border-radius: 10px;
  height: 36px;
  display: flex;
  align-items: center;
}
.header__input{
  background-color: transparent;
  border: none;
  padding: 0 6px;
  outline: none;
}
.span-search{
  display: flex;
  align-items: center;
}
.btn-user{
  background-color: gold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.posts__item{
  height: 290px;
  position: relative;
}
.item__inner{
  position: relative;
  padding: 15px 10px;
  height: 290px;
}

.posts__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  color: #fff;
  align-items: center;
}
.count__post{
  display: flex;
  align-items: center;
  margin: 6px 12px;
}
.count__post .bx{
  margin-right: 6px;
}
.type-btn-box{
  position: absolute;
  top: 6%;
  right: 12%;
}
.type-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.type-btn .bx{
  font-size: 28px;
  color: #fff;
}
.header__logobox{
  margin-left: 26px;
}
.box__inner{
  background-color: rgba(0, 0, 0, 0.555);
  width: 92%;
  height: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}
video{
  width: 100%;
  height: 100%;
}
.posts__item:hover .box__inner{
  display: flex;
}
.modal-body{
  height: 90vh;
  padding: 0 !important;
  overflow: hidden !important;
}
.modal-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal__header,
.modal__textdesc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px 14px 16px;
}
.modal__user{
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.modal__user--img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
}
.modal__box{
  display: flex;
  align-items: center !important;
}
.modal__imgbox,
.modal__desc{
  padding: 0;
  position: relative;
}
.user__name{
  margin-bottom: 0;
  color: rgba(var(--f75,38,38,38),1);
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.user__name .bx{
  color: #3797f0;
  margin-left: 6px;
}
.header__text{
  font-size: 14px;
  line-height: 18px;
  color: rgba(var(--f75,38,38,38),1);
  font-weight: 600;
  margin-bottom: 0;
}
.menu__btn{
  background-color: transparent;
  font-size: 24px;
  border: none;
  margin-right: 10px;
}
.like-post__btn{
  background-color: transparent;
  font-size: 16px;
  border: none;
  margin-right: 10px;
}
.post__desc{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}
.modal__desc {
  position: relative;
}
.modal__footer{
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 0 20px;
}
.footer-btn{
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 28px;
  margin-right: 8px;
  color: #1b1b1b;
}
.footer-liked{
  color: rgba(var(--i1d,38,38,38),1);
  font-size: 14px;
  line-height: 18px;
  padding: 6px 20px;
}
.footer-liked span{
  font-weight: bold;
}
.footer__form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-top: 1px solid #cacaca;
  overflow: hidden;
}
.footer__input{
  background-color: transparent;
  border: none;
  padding: 10px 12px;
  outline: none;
}
.footer__input::placeholder{
  color: #8e8e8e;
}
.footer__form-box{
  display: flex;
  align-items: center;
}
.footer-modal-btn{
  border: none;
  background-color: transparent;
  color: #3797f0;
  font-weight: 600;
  margin-right: 10px;
}
.smile-btn{
  display: flex;
  align-items: center;
}
.imgbox{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.post-slider{
  position: relative;
}
.post-slider{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-control{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  background-color: rgba(255, 255, 255, 0.555);
  border: none;
  border-radius: 50%;
  font-size: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.next-slide{
  right: 10px;
}
.prev-slide{
  left: 10px;
}